.page {
  color: white;
  padding: 0 1rem;
  //   background: #f1f5f9;
  &__box {
    min-height: 120px;
    background: #1e293b;
    margin: 0 -1rem;
    font-size: 36px;
  }
  &__content {
    min-height: calc(100vh - 178px);
    border-radius: 10px;
    margin-top: -2rem;
    background: white;
    // background: #c850c0;
    background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
    background: -o-linear-gradient(45deg, #4158d0, #c850c0);
    background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
    background: linear-gradient(45deg, #4158d0, #c850c0);
    color: black;
    font-size: 2rem;
    &-data {
      width: 90%;
      //   top: 50%;
      //   left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
