#register {
  padding-top: 100px;
}
.btn_container {
  display: flex;
  justify-content: space-between;
}
.register {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 5px #0000004d;
  padding: 15px;
}
