<section id="slider">
  <div class="slider">
    <div class="slider__entry">
      <div class="slider__wrap">
        <div class="container slider__content">
          <h1>CYCBERSOFT ĐÀO TẠO <span>LẬP TRÌNH VIÊN </span> ANGULAR</h1>
          <p>
            Định hướng và Chuẩn hóa lộ trình từ trái ngành mất gốc lập trình đến
            Có việc làm
          </p>
          <div class="slider-register-text btn btn-warning mt-5 mb-5">
            Đăng ký học
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
