:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 260px;
  $opened: true;
}
mat-drawer-container {
  height: 100%;
  background-color: #1e293b !important;
}

mat-drawer {
  background: #0f172a;
}

@media (max-width: 576px) {
  mat-drawer {
    width: 100px !important;
  }
}
@media only screen and (max-width: 500px) {
  .hide-on-small-screens {
      display: none;
  }
}
