<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Cập nhật khoá học</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="card-body" style="color: #36304a">
      <form
        #editCourseForm="ngForm"
        (ngSubmit)="editCourse(editCourseForm.value)"
      >
        <h6 class="heading-small text-muted mb-4">Course information</h6>
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-username"
                  >Mã khoá học</label
                >
                <input
                  type="text"
                  id="input-username"
                  class="form-control form-control-alternative"
                  name="maKhoaHoc"
                  required
                  ngModel
                  #MaKhoaHoc="ngModel"
                  minlength="7"
                  maxlength="15"
                  [ngModel]="course.maKhoaHoc"
                  readonly
                />
                <div
                  class="alert alert-danger notice"
                  *ngIf="
                    MaKhoaHoc.errors && (MaKhoaHoc.dirty || MaKhoaHoc.touched)
                  "
                >
                  <div *ngIf="MaKhoaHoc.errors.required">
                    Mã khoá học không được để trống.
                  </div>
                  <div
                    *ngIf="
                      MaKhoaHoc.errors.minlength || MaKhoaHoc.errors.maxlength
                    "
                  >
                    Độ dài ký tự phải từ 7 đến 15.
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-email"
                  >Đánh giá</label
                >
                <input
                  type="input"
                  id="input-email"
                  class="form-control form-control-alternative"
                  required
                  ngModel
                  #DanhGia="ngModel"
                  name="danhGia"
                  min="0"
                  [ngModel]="course.danhGia"
                />
                <div
                  class="alert alert-danger notice"
                  *ngIf="DanhGia.errors && (DanhGia.dirty || DanhGia.touched)"
                >
                  <div *ngIf="DanhGia.errors.required">
                    Đánh giá không được để trống và phải là số.
                  </div>
                </div>
              </div>
            </div> -->

            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-username"
                  >Danh mục khoá học</label
                >
                <select
                  #idCourse
                  onselect="chooseListCourse(idCourse.value)"
                  class="form-control"
                  name="maDanhMucKhoaHoc"
                  ngModel
                  [ngModel]="course.danhMucKhoaHoc.maDanhMuc"
                >
                  <option
                    [value]="course.danhMucKhoaHoc.maDanhMucKhoaHoc"
                    selected
                  >
                    {{ course.danhMucKhoaHoc.tenDanhMucKhoaHoc }}
                  </option>
                  <option
                    *ngFor="let item of danhMucKhoaHoc"
                    [value]="item.maDanhMuc"
                  >
                    {{ item.tenDanhMuc }}
                  </option>

                  ¯
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-first-name"
                  >Tên khoá học</label
                >
                <input
                  type="text"
                  id="input-first-name"
                  class="form-control form-control-alternative"
                  name="tenKhoaHoc"
                  required
                  ngModel
                  #TenKhoaHoc="ngModel"
                  [ngModel]="course.tenKhoaHoc"
                />
                <div
                  class="alert alert-danger notice"
                  *ngIf="
                    TenKhoaHoc.errors &&
                    (TenKhoaHoc.dirty || TenKhoaHoc.touched)
                  "
                  KhoaHoc.dirty
                  ||
                  TenKhoaHoc.touched)
                >
                  <div *ngIf="TenKhoaHoc.errors.required">
                    Tên khoá học không được để trống.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-last-name"
                  >Lượt xem</label
                >
                <input
                  type="number"
                  id="input-last-name"
                  class="form-control form-control-alternative"
                  required
                  ngModel
                  name="luotXem"
                  #LuotXem="ngModel"
                  type="number"
                  [ngModel]="course.luotXem"
                />
                <div
                  class="alert alert-danger notice"
                  *ngIf="LuotXem.errors && (LuotXem.dirty || LuotXem.touched)"
                >
                  <div *ngIf="LuotXem.errors.required">
                    Lượt xem không được để trống.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-4" />
        <h6 class="heading-small text-muted mb-4">Course information</h6>

        <div class="pl-lg-4">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-email"
                  >Người tạo</label
                >
                <input
                  type="text"
                  id="input-email"
                  class="form-control form-control-alternative"
                  ngModel
                  name="taiKhoanNguoiTao"
                  #TaiKhoanNguoiTao="ngModel"
                  readonly
                  [ngModel]="course.nguoiTao.taiKhoan"
                />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-email"
                  >Bí danh</label
                >
                <input
                  type="text"
                  id="input-email"
                  class="form-control form-control-alternative"
                  required
                  ngModel
                  name="biDanh"
                  #BiDanh="ngModel"
                  [ngModel]="course.biDanh"
                />
                <div
                  class="alert alert-danger notice"
                  *ngIf="BiDanh.errors && (BiDanh.dirty || BiDanh.touched)"
                >
                  <div *ngIf="BiDanh.errors.required">
                    Bí danh không được để trống.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-first-name"
                  >Ngày tạo</label
                >
                <input
                  type="date"
                  id="input-first-name"
                  class="form-control form-control-alternative"
                  name="ngayTao"
                  #NgayTao="ngModel"
                  required
                  ngModel
                  [ngModel]="course.ngayTao | date: 'MM/dd/yyyy'"
                />
                <div
                  class="alert alert-danger notice"
                  *ngIf="NgayTao.errors && (NgayTao.dirty || NgayTao.touched)"
                >
                  <div *ngIf="NgayTao.errors.required">
                    Vui lòng chọn ngày tạo.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-last-name"
                  >Hình ảnh</label
                >
                <div class="upload__image">
                  <input
                    style="display: hidden"
                    type="file"
                    class="file-input"
                    #fileUpload
                    accept="image/png,image/jpg,image/jpeg "
                    (change)="onFileSelected($event)"
                  />

                  <div class="file-upload form-control tile_image">
                    {{ fileName || "Chưa có ảnh." }}
                  </div>
                  <div class="buttonimage">
                    <button
                      type="submit"
                      mat-mini-fab
                      color="primary"
                      class="upload-btn"
                      (click)="fileUpload.click()"
                    >
                      <mat-icon>attach_file</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr class="my-4" />
        <h6 class="heading-small text-muted mb-4">Course information</h6>
        <div class="pl-lg-4">
          <div class="form-group">
            <label>Mô tả</label>
            <textarea
              name="moTa"
              ngModel
              required
              #MoTa
              rows="4"
              class="form-control form-control-alternative"
              [ngModel]="course.moTa"
            >
            </textarea>
          </div>
        </div>

        <div class="col-1 text-right pt-5 pl-4">
          <button mat-raised-button class="btn btn-danger" type="submit">
            Cật nhật
          </button>
        </div>
      </form>

      <div class="col-12 text-right pt-5 pl-3">
        <a href="admin/course-management">
          <button class="btn btn-info">Quay lại</button>
        </a>
      </div>
    </div>
  </div>
</div>
