<div
  class="modal hide fade"
  id="modalRegisterCourse"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modelTitleId"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="card card-5">
        <div class="card-heading">
          <h2 class="title">Ghi Danh</h2>
        </div>
        <div class="button__close">
          <button
            (click)="closeModal()"
            mat-icon-button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            color="accent"
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>

        <div class="modal-body">
          <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
            <div class="wrapper wrapper--w790">
              <div class="wrap d-flex flex-around">
                <div class="col-lg-10 px-0">
                  <div class="form-group">
                    <input
                      name="fieldName"
                      ngDefaultControl
                      #idUser="ngModel"
                      list="brow"
                      class="form-control"
                      placeholder="Chọn người dùng"
                      (change)="chooseCourse(idUser.value)"
                      ngModel
                    />
                    <datalist id="brow">
                      <option
                        ngModel
                        *ngFor="let item of subListUserWaitingReview"
                        [ngValue]="item"
                      >
                        {{ item.taiKhoan }}
                      </option>
                    </datalist>
                  </div>
                </div>
                <a>
                  <button
                    class="mx-5"
                    mat-raised-button
                    color="primary"
                    type="submit"
                    (click)="registerUser()"
                  >
                    Ghi danh
                  </button>
                </a>
              </div>
              <div class="title__sub">
                <h3>Người dùng chờ xác thực (nếu không có không hiển thị)</h3>
              </div>

              <div class="wrap-table100">
                <div class="table100">
                  <div class="content__tbody">
                    <table>
                      <thead>
                        <tr class="table100-head">
                          <th class="column1">STT</th>
                          <th class="column2">Tài khoản</th>
                          <th class="column3">Họ tên</th>
                          <th class="column5">Chờ xác nhận</th>
                        </tr>
                      </thead>
                      <ng-container *ngIf="listUserWaitingReview">
                        <tbody>
                          <tr
                            class="content_table"
                            *ngFor="
                              let user of listUserWaitingReview
                                | slice: (page - 1) * pageSize:page * pageSize;
                              let index = index
                            "
                          >
                            <td class="column1">
                              {{ index + 1 + (page - 1) * pageSize }}
                            </td>
                            <td class="column2">{{ user.taiKhoan }}</td>
                            <td class="column3">{{ user.hoTen }}</td>
                            <td class="column5">
                              <div class="example-button-row">
                                <div class="example-flex-container">
                                  <button
                                    (click)="confirmUser(user.taiKhoan)"
                                    mat-button
                                    color="primary"
                                  >
                                    Xác thực
                                  </button>
                                  <button
                                    (click)="cancelCourse(user.taiKhoan)"
                                    style="width: 40px"
                                    mat-button
                                    color="warn"
                                  >
                                    Huỷ
                                  </button>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </ng-container>
                    </table>
                  </div>
                  <ngb-pagination
                    class="d-flex justify-content-end pt-3"
                    [(page)]="page"
                    [pageSize]="pageSize"
                    [collectionSize]="listUserWaitingReview.length"
                    size="sm"
                  ></ngb-pagination>
                </div>
              </div>
            </div>
            <hr />
            <!-- break -->
            <div class="wrapper wrapper--w790">
              <div class="title__sub">
                <h3>Người dùng đã ghi danh (nếu không có không hiển thị)</h3>
              </div>

              <div class="wrap-table100">
                <div class="table100">
                  <div class="content__tbody">
                    <table>
                      <thead>
                        <tr class="table100-head">
                          <th class="column1">STT</th>
                          <th class="column2">Tài Khoản</th>
                          <th class="column3">Họ tên</th>
                          <th class="column5">Chờ xác nhận</th>
                        </tr>
                      </thead>
                      <ng-container *ngIf="listUserConfirmed">
                        <tbody>
                          <tr
                            class="content_table"
                            *ngFor="
                              let item of listUserConfirmed
                                | slice
                                  : (pages - 1) * pageSizes
                                  : pages * pageSizes;
                              let index = index
                            "
                          >
                            <td class="column1">
                              {{ index + 1 + (pages - 1) * pageSizes }}
                            </td>
                            <td class="column2">{{ item.taiKhoan }}</td>
                            <td class="column3">{{ item.hoTen }}</td>
                            <td class="column5">
                              <div class="example-button-row">
                                <div class="example-flex-container">
                                  <button
                                    style="width: 40px"
                                    mat-button
                                    color="warn"
                                    (click)="cancelCourse(item.taiKhoan)"
                                  >
                                    Huỷ
                                  </button>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </ng-container>
                    </table>
                  </div>
                  <ngb-pagination
                    class="d-flex justify-content-end pt-3"
                    [(page)]="pages"
                    [pageSize]="pageSizes"
                    [collectionSize]="listUserConfirmed.length"
                    size="sm"
                  ></ngb-pagination>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $("a[data-target=#modalRegisterCourse]").click(function (ev) {
    ev.preventDefault();
    var target = $(this).attr("href");

    // load the url and show modal on success
    $("#modalRegisterCourse .modal-body").load(target, function () {
      $("#modalRegisterCourse").modal("show");
    });
  });
</script>
