<mat-nav-list>
  <div class="logo py-4">
    <a routerLink="/">
      <img src="/assets/img/elearning-logo.png" alt="Company Logo" />
    </a>
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="dashboard">
    <mat-icon>dashboard</mat-icon> <span class="text_sidenav">Dashboard</span>
  </a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="user-management"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <mat-icon>person</mat-icon> <span class="text_sidenav">User</span>
  </a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="course-management"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <mat-icon>book</mat-icon> <span class="text_sidenav">Course</span>
  </a>
</mat-nav-list>
